<div class="container-fluid px-4 mt-3">
  <div class="row d-flex justify-content-between">
    <div class="card">
      <div class="card-body d-flex justify-content-between pb-0">
        <span class="align-self-center"><h1 class="display-4">{{currentMonthName}} {{currentYear}}</h1></span>
       <span> 
         <a href="#" class="btn btn-light mr-2"><</a>
         <a href="#" class="btn btn-light mr-2">Today</a>
         <a href="#" class="btn btn-light">></a>
        </span>
      </div>
      <div class="card-body lead">
        <div class="days-grid d-flex justify-content-between justify-content-between">
          <div *ngFor="let day of weekDays">
            <span>{{day}}</span>
          </div>
        </div>
        <div class="days-grid d-flex justify-content-between justify-content-between">
          <div *ngFor="let date of currentWeekDates">
            <span>{{date.dayOfMonth}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

